@import "../config/variables";
// outermost container for the view
.view-container {
  display: flex;
  flex-direction: column;
  // margin-top: 3em;
  align-items: center;
  text-align: center;
  margin-top: 2%;

  .--portrait {
    padding-bottom: 20% !important;
  }
  .pagination-container {
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    // margin-top: 3em;
    align-items: center;
    text-align: center;
    &.top-pg {
      display: none;
    }
    .pagination {
      font-family: $roboto;
    }
    // handle pagination e
    button {
      border: none;
      background: none;
      &.open-button {
        border: solid 0.4em $background-tertiary;
        border-radius: 1.4em;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        .open-button-text {
          font-size: 2.5em;
          color: $background-tertiary;
          font-weight: 600;
        }
        &:hover {
          border: solid 0.4em $background-primary;
          transform: scale(1.1);
          .open-button-text {
            color: $background-primary;
          }
        }
      }
      cursor: pointer;
      svg {
        color: $background-tertiary;
        filter: drop-shadow(4px 1px 2px rgba(80, 80, 80, 0.7));
        &:hover {
          color: $background-primary;
        }
      }

      // width: 4em;
      // height: 4em;
      .prev-icon {
        font-size: 4em;
        &:hover {
          transform: scale(1.1);
        }
      }
      .next-icon {
        font-size: 4em;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
  .page-cover {
    @keyframes pulse {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.1);
      }
      100% {
        transform: scale(1);
      }
    }
    // handle opne icon on cover
    .open-icon-container {
      margin-top: 1.5em;
      margin-right: 1.5em;
      animation: 1s ease-out 0s 3 pulse;

      .open-icon {
        float: right;
        font-size: 3.5em;
        cursor: pointer;
        filter: drop-shadow(4px 1px 2px rgba(80, 80, 80, 0.7));
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
  // overall container for the page
  .page {
    background-color: white;
    border: solid 3px grey;
    display: flex;
    text-align: center;
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    .page-content {
      margin-left: 2em;
      margin-right: 2em;
      .page-body {
        margin-top: 50%;
        .sentenceSpeech {
        }
        .page-text {
          .page-word {
            transition: all 0.1s ease-in-out;
            &.chameleon,
            &.chameleons {
              color: black;
              -webkit-animation: changeColor 10s infinite;
            }
            &.tiger,
            &.tigers {
              background: linear-gradient(
                90deg,
                rgba(195, 101, 0, 1) 0%,
                rgba(0, 0, 0, 1) 6%,
                rgba(195, 101, 0, 1) 12%,
                rgba(0, 0, 0, 1) 18%,
                rgba(195, 101, 0, 1) 24%,
                rgba(0, 0, 0, 1) 30%,
                rgba(195, 101, 0, 1) 36%,
                rgba(0, 0, 0, 1) 42%,
                rgba(195, 101, 0, 1) 48%,
                rgba(0, 0, 0, 1) 54%,
                rgba(195, 101, 0, 1) 60%,
                rgba(0, 0, 0, 1) 66%,
                rgba(195, 101, 0, 1) 72%,
                rgba(0, 0, 0, 1) 78%,
                rgba(195, 101, 0, 1) 84%,
                rgba(0, 0, 0, 1) 90%,
                rgba(195, 101, 0, 1) 96%,
                rgba(0, 0, 0, 1) 100%
              );
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
            &.leaf {
              color: green;
            }
            @keyframes changeColor {
              0% {
                color: $background-primary;
              }
              50% {
                color: $background-tertiary;
              }
              80% {
                color: $background-secondary;
              }
              100% {
                color: $background-tertiary-two;
              }
            }

            &:hover {
              color: $background-tertiary;
              transform: scale(1.1);
              cursor: pointer;
            }
          }
        }
      }
    }
    // handle style on the left page
    &.--left {
      border-right: 0;
      box-shadow: inset -7px 0 30px -7px rgba(0, 0, 0, 0.4);
      border-top-left-radius: 1em;
      border-bottom-left-radius: 1em;
      .page-number {
        position: absolute;

        bottom: 0;
      }
      .page-icon {
        position: absolute;
        top: 0;
        margin-top: 0.5em;
        font-size: 3em;

        svg {
          color: $background-tertiary;
          // -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
          filter: drop-shadow(4px 1px 2px rgba(80, 80, 80, 0.7));
          &:hover {
            cursor: pointer;
            transform: scale(1.1);
            color: $background-primary;
          }
        }
      }
    }
    // handle style on the right page
    &.--right {
      border-left: 0;
      box-shadow: inset 7px 0 30px -7px rgba(0, 0, 0, 0.4);
      border-top-right-radius: 1em;
      border-bottom-right-radius: 1em;
      .page-number {
        position: absolute;
        right: 0;
        bottom: 0;
        margin-right: 2em;
      }
      .page-icon {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 0.5em;
        margin-right: 0.7em;
        font-size: 3em;
        svg {
          color: $background-tertiary;
          filter: drop-shadow(4px 1px 2px rgba(80, 80, 80, 0.7));
          &:hover {
            cursor: pointer;
            transform: scale(1.1);
            color: $background-primary;
          }
        }
      }

      .page-footer {
        text-align: right;
      }
    }
    // page cover styling
    &.page-cover {
      // background: linear-gradient(
      //   90deg,
      //   hsla(37, 99%, 61%, 1) 0%,
      //   hsla(60, 90%, 63%, 1) 40%,
      //   hsla(60, 90%, 63%, 1) 52%,
      //   hsla(60, 90%, 63%, 1) 100%
      // );

      background-image: radial-gradient(
        circle at top left,
        $background-primary,
        $background-primary 20%,
        $background-tertiary 20%,
        $background-tertiary 40%,
        $background-tertiary-two 40%,
        $background-tertiary-two 60%,
        $background-secondary 60%,
        $background-secondary 80%,
        $background-secondary 20%,
        $background 80%
      );

      color: $background-secondary;
      // border: solid 1px $background-secondary;
      border-top-left-radius: 0.5em;
      border-bottom-left-radius: 0.5em;

      h2 {
        text-align: center;
        padding-top: 50%;
        font-size: 210%;
      }

      &.page-cover-top {
        box-shadow: inset 0px 0 30px 0px rgba(36, 10, 3, 0.5),
          -2px 0 5px 2px rgba(0, 0, 0, 0.4);
      }

      &.page-cover-bottom {
        box-shadow: inset 0px 0 30px 0px rgba(36, 10, 3, 0.5),
          10px 0 8px 0px rgba(0, 0, 0, 0.4);
      }
    }
  }
  @media (max-width: 1250px) {
    .page-icon {
      display: none;
    }
    .book-actions {
      &.top-pg {
        display: flex;
        margin-bottom: 2em;
        .open-button {
          display: none;
        }
      }
    }
  }
}
// modal container styling
.modal-container {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 30em;
  height: 12em;
  z-index: 1010;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 0.4em;
  &.hidden {
    display: none;
  }
  .modal-body {
    margin-top: 7%;
    margin-bottom: auto;
    .modal-text {
      font-size: 4em;
      margin-bottom: 0;
      margin-top: 0;
    }
  }
  button {
    border: none;
    background: none;
    &.close-button {
      position: absolute;
      top: 4%;
      right: 2%;
      svg {
        font-size: 2em;
        transition: all 0.1s ease-in-out;
        -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
        filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
        &:hover {
          cursor: pointer;
          transform: scale(1.1);
        }
      }
    }
  }
}
.modal-overlay {
  z-index: 999;
  position: absolute;
  left: 0;
  top: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background-color: grey;
  border: 1px solid;
  &.hidden {
    display: none;
  }
}

.word-play-container {
  button {
    border: none;
    background: none;
    &.play-button {
      svg {
        font-size: 4em;
        opacity: 0.2;
        transition: all 0.1s ease-in-out;
        -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
        filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
        &:hover {
          cursor: pointer;
          color: $background-tertiary;
          opacity: 1;
          transform: scale(1.1);
        }
      }
    }
  }
}
