@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Luckiest+Guy&display=swap");

$luckiest-guy: "Luckiest Guy", cursive;
$love-ya-like-a-sister: "Love Ya Like A Sister", cursive;

$background: #ffffff;
$background-primary: #333c83;
$background-secondary: #f6f54d;
$background-tertiary: #f24a72;
$background-tertiary-two: #feb139;


