@import "../config/variables";

#container-layout {
  padding-right: 15%;
  padding-left: 15%;
  font-weight: normal;
  font-style: normal;
  display: flex;
  flex-direction: column;
}
.H1 {
  font-family: $luckiest-guy;
  font-size: 3.5rem;
  font-weight: bold;
  color: $background-primary;
  text-align: center;
  margin-bottom: 1rem;
}
.H3 {
  font-family: $love-ya-like-a-sister;
  font-size: 2.5rem;
  font-weight: bold;
  color: $background-primary;
  text-align: center;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  #container-layout {
    width: 98%;
    padding-right: 5%;
    padding-left: 5%;
  }
  .H1 {
    font-size: 4.5rem;
  }
  .H3 {
    font-size: 3rem;
  }
}
@media (min-width: 992px) {
  #container-layout {
    width: 90%;
    padding-right: 10%;
    padding-left: 10%;
  }
  .H1 {
    font-size: 5rem;
  }
  .H3 {
    font-size: 3.5rem;
  }
}
@media (min-width: 1200px) {
  #container-layout {
    width: 90%;
  }
  .H1 {
    font-size: 5.5rem;
  }
  .H3 {
    font-size: 4rem;
  }
}
